<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KKFriends.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C728EA3C1F6A1DF50047146A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C728EA501F6A1DF50047146A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C728EA5B1F6A1DF50047146A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
