<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E01].mp3</string>
		<key>songname</key>
		<string>S01E01</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_101.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E02].mp3</string>
		<key>songname</key>
		<string>S01E02</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_102.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E03].mp3</string>
		<key>songname</key>
		<string>S01E03</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_103.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E04].mp3</string>
		<key>songname</key>
		<string>S01E04</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_104.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E05].mp3</string>
		<key>songname</key>
		<string>S01E05</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_105.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E06].mp3</string>
		<key>songname</key>
		<string>S01E06</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_106.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E07].mp3</string>
		<key>songname</key>
		<string>S01E07</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_107.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E08].mp3</string>
		<key>songname</key>
		<string>S01E08</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_108.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E09].mp3</string>
		<key>songname</key>
		<string>S01E09</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_109.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E10].mp3</string>
		<key>songname</key>
		<string>S01E10</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_110.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E11].mp3</string>
		<key>songname</key>
		<string>S01E11</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_111.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E12].mp3</string>
		<key>songname</key>
		<string>S01E12</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_112.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E13].mp3</string>
		<key>songname</key>
		<string>S01E13</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_113.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E14].mp3</string>
		<key>songname</key>
		<string>S01E14</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_114.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E15].mp3</string>
		<key>songname</key>
		<string>S01E15</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_115.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E16].mp3</string>
		<key>songname</key>
		<string>S01E16</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_116.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E17].mp3</string>
		<key>songname</key>
		<string>S01E17</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_117.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E18].mp3</string>
		<key>songname</key>
		<string>S01E18</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_118.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E19].mp3</string>
		<key>songname</key>
		<string>S01E19</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_119.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E20].mp3</string>
		<key>songname</key>
		<string>S01E20</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_120.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E21].mp3</string>
		<key>songname</key>
		<string>S01E21</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_121.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E22].mp3</string>
		<key>songname</key>
		<string>S01E22</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_122.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E23].mp3</string>
		<key>songname</key>
		<string>S01E23</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_123.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
	<dict>
		<key>filename</key>
		<string>[六人行.第一季][Friends.S01E24].mp3</string>
		<key>songname</key>
		<string>S01E24</string>
		<key>singername</key>
		<string>老铁们</string>
		<key>lrcname</key>
		<string>tingvoa.com_124.lrc</string>
		<key>singerIcon</key>
		<string>jay_icon.png</string>
		<key>icon</key>
		<string>jay.jpg</string>
	</dict>
</array>
</plist>
